<VirtualHost *:80>
  ServerName __wpn_base_dir__.${HTTPD_DN_SUFFIX}
  ServerAlias *.__wpn_base_dir__.${HTTPD_DN_SUFFIX}
  Alias "/.well-known/acme-challenge" "/srv/__wpn_base_dir__/.well-known/acme-challenge"

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteCond %{REQUEST_URI} !^\/\.well-known\/.*$
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R,L]

 <Directory "/srv/__wpn_base_dir__/.well-known/acme-challenge">
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted
 </Directory>

</VirtualHost>

<VirtualHost *:443>

  Include {{ httpd_etc_dir }}/conf.d/00ssl.include
  SSLCertificateFile ${HTTPD_CERT_PATH}/star.${HTTPD_DN_SUFFIX}/cert.pem
  SSLCertificateKeyFile ${HTTPD_KEY_PATH}/star.${HTTPD_DN_SUFFIX}/privkey.pem
  SSLCertificateChainFile ${HTTPD_CERT_PATH}/star.${HTTPD_DN_SUFFIX}/chain.pem

  ServerName __wpn_base_dir__.${HTTPD_DN_SUFFIX}
  ServerAlias *.__wpn_base_dir__.${HTTPD_DN_SUFFIX}
  DocumentRoot /srv/__wpn_base_dir__/wp
  Alias "/.well-known/acme-challenge" "/srv/__wpn_base_dir__/.well-known/acme-challenge"
  ProxyPassMatch ^/(.*\.php.*)$ fcgi://127.0.0.1:9000/srv/__wpn_base_dir__/wp

  <Directory "/srv/__wpn_base_dir__/wp>
    DirectoryIndex index.php
    Options Indexes FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted

    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteBase /
        RewriteRule ^index\.php$ - [L]
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
        RewriteRule . /index.php [L]
    </IfModule>

  </Directory>

  <Directory "/srv/__wpn_base_dir__/.well-known/acme-challenge">
    AllowOverride All
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>

</VirtualHost>
